body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 15px;
 -webkit-font-smoothing: antialiased;
 line-height: 0.2;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

.Heshima {
  background: url('../images/header.png');
  height: 520px;
  background-size: cover;
  background-position: center;
}

.HeshimaGroup {
  margin: 0 80px 287px;
  max-width: 500px;
  padding: 150px 50px;
  text-align: left;
}

.Heshima h1 {
  margin: 0;
  color:white;
  font-size: 65px;
  line-height: 0.0;
}

.Heshima p {
  color: rgba(255, 255, 255, 10);
  font-size: 30px;
  line-height: 1.5;
}

.Heshima a {
  font-size: 14px;
  font-weight: 600px;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to left, #EFBF80 0%, #E7C7A0 100%);
  padding: 7px 20px;
  border: 0.5px solid rgba(94, 36, 0.25);
  border-radius: 10px;
}